body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

header {
  background-color: #333;
  text-align: center;
  padding: 1rem;
}
header h1 {
  font-size: 50px;
  color: black;
  text-shadow: 0 0 20px #e0e0e0;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.intro h1 {
  font-size: 50px;
  color: black;
  text-shadow: 0 0 50px #e0e0e0;
  margin: 1rem;
}
.intro img {
  margin: 1rem;
}
.intro .author__icon {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid #f0f0f0;
}
.intro .author__face {
  display: none;
}

main {
  width: 50%;
  padding: 2rem;
  margin: 0 auto;
  font-size: 1.2rem;
}
@media screen and (max-width: 980px) {
  main {
    min-width: 522px;
  }
}
@media screen and (max-width: 522px) {
  main {
    width: 100%;
    min-width: 0;
  }
}

section.intro {
  background-color: rgba(240, 240, 240, 0.5);
  padding: 1rem;
  border-radius: 10px;
}
section.intro div {
  padding: 1rem;
}

details {
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px #f0f0f0;
}

summary {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  margin: 1rem;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 20px #e0e0e0;
  filter: blur(0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.1s;
}
summary::-webkit-details-marker {
  display: none;
}
summary:hover {
  cursor: pointer;
}
summary:active {
  scale: 0.95;
}