@font-face {
    font-family: "kachou_fuugetsu";
    src: url("/assets/fonts/kachoufuugetu.ttf") format("truetype");
}
@font-face {
    font-family: "Gen no Kaku Gothic Regular";
    src: url("/assets/fonts/SourceHanSansJP-Regular.otf") format("truetype");
}
@font-face {
    font-family: "Gen no Kaku Gothic Bold";
    src: url("/assets/fonts/SourceHanSansJP-Bold.otf") format("truetype");
}
main {
    section {
        padding: 1rem;
        @media screen and (min-width: 768px) {
            padding-inline: 2rem;
        }
        article {
            width: 100%;
            margin-block: 2rem;
            background-image: linear-gradient(to right, #333, #333);
            background-size: 300px 2px;
            padding-bottom: 0.2em;
            background-repeat: no-repeat;
            h1 {
                font-size: 2rem;
                font-family: "Gen no Kaku Gothic Bold", sans-serif;
                width: fit-content;
                margin-bottom: 1rem;
                padding: 0.5rem;
                background-image: linear-gradient(to right, #2784cb53, #49a9f2a2);
                background-size: 0 100%;
                background-position: -100% -100%;
                background-repeat: no-repeat;
                transition:
                    background-position 0.3s ease-out,
                    background-size 0.3s ease-out;
                user-select: none;
                &.active__hover__caption {
                    background-size: 100% 100%;
                    background-position: 0 0;
                }
                @media screen and (min-width: 768px) {
                    font-size: max(2rem, 3vw);
                }
            }
            .sentence {
                margin: 1rem 0;
                font-size: 1.2rem;
                font-weight: bold;
                font-family: "Yu Gothic", "Meiryo", "Hiragino Kaku Gothic Pro", "Noto Sans JP", sans-serif;
            }
            &#hero {
                text-align: left;
                background-position: bottom left;
            }
            &#whoamI {
                text-align: right;
                background-position: bottom right;
                h1 {
                    margin-inline: auto 0;
                }
            }
            &#profile {
                text-align: left;
                background-position: bottom left;
            }
        }
    }
}
nav ul :nth-child(1) a {
    color: black;
    font-size: 1.2em;
    filter: brightness(0.8);
}
