$secondary-color: #dfebee;
$background-color: #2b2b2b;
$color: #6ad5f3;
.place__holder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  .panel__sns {
    flex-grow: 1;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    a.sns__container__header {
      display: inline-flex;
      margin: 1rem auto;
      max-width: 600px;
      padding: 0.5rem;
      justify-content: center;
      border: $secondary-color solid 1px;
      font-weight: bold;
      border-radius: 0.5rem;
      transition: 0.3s;
      &:hover {
        filter: brightness(1.1);
        transform: scale(1.1);
      }
      .sns__container__header__img {
        width: 2rem;
        height: 2rem;
        margin: 0 0.5rem;
      }
      h3 {
        font-size: 1.5rem;
        color: white;
      }
    }
    .github__profile__img {
      margin: 1rem 0;
      width: 100%;
      max-width: 100%;
    }
    .badge__discord img {
      width: 2rem;
    }
    .youtube__profile {
      text-align: left;
    }
  }
}
.qiita__post__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  .panel__qiita__container {
    flex-grow: 1;
    margin: 0.5rem;
    padding: 1rem;
    width: calc(50% - 1rem);
    border-radius: 1rem;
    box-shadow: 0 0 10px #55c500;
    a {
      color: white;
      transition: transform 0.3s;
      &:hover {
        text-decoration: underline;
        transform: scale(1.02);
      }
    }
    .qiita_tag::before {
      font-family: "Font Awesome 5 Free";
      content: "\f02b";
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      padding-right: 0.1em;
      font: var(--fa-font-solid);
      color: #ffffff;
    }
    @media screen and (max-width: 768px) {
      width: calc(100% - 1rem);
    }
  }
}
