html, body {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background: black;
    color: white;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    height: 180px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.headerIcon {
    width: 150px;
    height: 150px;
    margin-right: 50px;
}
.headerTitle {
    font-size: 50px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Main */
main {
    margin-top: 180px;
    padding: 36px;
    background-color: grey;
    width: 100vw;
    height: calc(100vh - 180px);
}
.downloadButton {
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 40vw;
    height: 10vw;
    border: 5px solid white;
    border-radius: 10px;
    background-color: black;
    color: rgb(0, 154, 62);
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    transition: filter 0.5s, transform 0.5s;
}
.downloadButton:hover {
	filter: brightness(1.2);
	transform: scale(1.05);
}
.downloadButton p {
    margin: 0;
    padding: 0;
    line-height: 10vw;
}