@font-face {
    font-family: "kachou_fuugetsu";
    src: url("/assets/fonts/kachoufuugetu.ttf") format("truetype");
}
@font-face {
    font-family: "Gen no Kaku Gothic Regular";
    src: url("/assets/fonts/SourceHanSansJP-Regular.otf") format("truetype");
}
@font-face {
    font-family: "Gen no Kaku Gothic Bold";
    src: url("/assets/fonts/SourceHanSansJP-Bold.otf") format("truetype");
}
main {
    section {
        padding: 1rem;
        @media screen and (min-width: 768px) {
            padding-inline: 2rem;
        }
        .title__text {
            font-size: 2rem;
            margin: 1rem auto;
            font-family: "Gen no Kaku Gothic Bold", sans-serif;
            width: fit-content;
            margin-bottom: 1rem;
            padding: 0.5rem;
            background-image: linear-gradient(to right, #2784cb53, #49a9f2a2);
            background-repeat: no-repeat;
            transition:
                background-position 0.3s ease-out,
                background-size 0.3s ease-out;
            user-select: none;
            animation: title__text__load 1s ease-out;
            @media screen and (min-width: 768px) {
                font-size: max(2rem, 3vw);
            }
            @keyframes title__text__load {
                0% {
                    background-size: 0 100%;
                    background-position: -100% -100%;
                }
                100% {
                    background-size: 100% 100%;
                    background-position: 0 0;
                }
            }
        }
        article {
            width: 100%;
            margin-block: 2rem;
            background-image: linear-gradient(to right, #333, #333);
            background-size: 300px 2px;
            @media screen and (min-width: 768px) {
                background-size: 500px 2px;
            }
            padding-bottom: 1.2em;
            background-repeat: no-repeat;
            .panel__float {
                display: flex;
                width: 100%;
                flex-direction: row;
            }
            .panel__float__reverse {
                display: flex;
                width: 100%;
                flex-direction: row-reverse;
            }
            .holder__text {
                flex: 1;
                margin: 0 1rem;
                h1 {
                    font-size: 2rem;
                    font-family: "Gen no Kaku Gothic Bold", sans-serif;
                    width: fit-content;
                    margin-bottom: 1rem;
                    padding: 0.5rem;
                    transition:
                        background-position 0.3s ease-out,
                        background-size 0.3s ease-out;
                    user-select: none;
                    @media screen and (min-width: 768px) {
                        font-size: max(2rem, 3vw);
                    }
                }
                .sentence {
                    margin: 1rem 0;
                    font-size: 1.2rem;
                    font-weight: bold;
                    font-family: "Yu Gothic", "Meiryo", "Hiragino Kaku Gothic Pro", "Noto Sans JP", sans-serif;
                    @media screen and (max-width: 767px) {
                        font-size: 0.9rem;
                    }
                }
            }
            img {
                width: 30vw;
                max-width: 300px;
                min-width: 180px;
                height: 30vw;
                max-height: 300px;
                min-height: 180px;
            }
            &#kokone {
                text-align: left;
                background-position: bottom left;
            }
            &#mirai {
                text-align: right;
                background-position: bottom right;
                h1 {
                    margin-inline: auto 0;
                }
            }
            &#koubousaba {
                text-align: left;
                background-position: bottom left;
            }
            &#autobackup {
                text-align: right;
                background-position: bottom right;
                h1 {
                    margin-inline: auto 0;
                }
            }
        }
    }
}
nav ul :nth-child(2) a {
    color: black;
    font-size: 1.2em;
    filter: brightness(0.8);
}
